.insumos-list-container {
  padding: 20px;
  margin-left: 270px; /* Deixar espaço para a sidebar fixa */
}

.insumos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.insumos-table th, .insumos-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.insumos-table th {
  background-color: #1C3A57; /* Azul fornecido */
  color: white;
}

.insumos-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.insumos-table tr:hover {
  background-color: #ddd;
}

.filter-form {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-form div {
  display: flex;
  flex-direction: column;
}

.filter-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-form button {
  padding: 10px 20px;
  background-color: #1C3A57;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #2d537a;
}
