/* Estilos para telas grandes */
@media (min-width: 1024px) {
  .App-header {
    padding: 40px;
  }
}
.ant-layout-sider-collapsed {
  background-color: transparent !important;  /* Remover a cor de fundo ao colapsar */
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .App-header {
    padding: 20px;
    font-size: 14px;
  }

  .App-logo {
    height: 30vmin;
  }
}
