.chart-container {
  padding: 20px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 20px;
  color: white;
}

.table-container {
  padding: 20px;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 20px;
}

h3 {
  color: #fff;
}

body {
  background-color: #0a0a0a;
  color: #fff;
}




/* Estilos para telas grandes */
@media (min-width: 1024px) {
  .App-header {
    padding: 40px;
  }
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .App-header {
    padding: 20px;
    font-size: 14px;
  }

  .App-logo {
    height: 30vmin;
  }
}
