/* Estilo padrão do botão */
.custom-button {
  background-color: #1C3A57; /* Azul */
  color: white;
  border: none;
  padding: 5px 10px; /* Ajustando o padding para tornar o botão mais compacto */
  margin: 3px;
  border-radius: 4px;
  font-size: 14px; /* Tamanho da fonte menor */
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2d537a; /* Azul mais escuro para hover */
}

.custom-button.table-button {
  padding: 3px 8px; /* Botões mais compactos especificamente para ações em tabelas */
  font-size: 12px; /* Tamanho da fonte menor para as ações de tabela */
  margin: 2px;
}
